/* USERINFO */
.userInfo{
    font-size: 16px;
    flex-basis: 70%;
    padding:20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    
    display: flex;
    flex-direction: column;
}

.userInfo__fullName{
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(44, 101, 144, 0.1);
}

.userInfo_item{
    font-size: 14px;
    margin-bottom: 15px;
    display: flex;
}

.userInfo_item__columnLeft{
    flex-basis: 30%;
    margin-right: 10px;
}
.userInfo_item__columnRight{
    display: block;
    max-width: 65%;
    word-wrap: break-word;    
}
@media (min-width:1024px){
    .userInfo_item__columnRight{
        width: 400px;
    }
}

/* CONTACTS */

.contacts__btn{
    font-family: inherit;
    font-size: 12px;
    color: inherit;
    border: none;
    background: none;
    outline: none;
}
.contacts__btn:hover{
    color:#50b5ff;
}


/* MEDIA COPY */

@media (min-width:426px) and (max-width:768px){
    .userInfo{
        width: 100%;
    }
}

@media (max-width:425px){
    .userInfo{
        width: 100%;
    }
}
