.modal{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formUserInfo{
    position:static;

    flex-basis: 25%;
    flex-grow: 0.1;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



@media (max-width:768px)
{
    .formUserInfo{
        flex-grow: 0.7;
        height: 450px;
        overflow-y: scroll; 
    }
}
/* ITEM */

.item{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 10px;
}

.item__title{
    font-size: 18px;
    color: #50b5ff;
    margin-bottom: 5px;
}

.item__component{
    font-family: inherit;
    color:inherit;
    width: 100%;
    height: 60px;
    padding: 5px;
    border: 1px solid  #50b6ff71;
    border-radius: 5px;
    outline: none;
    resize: none;
}

input[type="checkbox"]
{
    width: auto;
    height: auto;
    margin-left: 5px;
    transform: scale(1.2);
}

.error{
    font-size: 12px;
    color: rgb(214, 58, 58);
}