.siteBar {
    position: fixed;
    right: 0;
    height: 100%;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}

.siteBar *{
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 1300px) {
    .siteBar {
        display: none;
    }
}

@media (max-width: 1500px) {
    .siteBar {
        min-width: 100px;
    }
    .siteBar .fullName {
        display: none;
    }
}