.btn{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 8px 14px;
    border-radius: 5px;
    border: #50b5ff;
    background-color: #50b5ff;
    outline: none;

    cursor: pointer;
    transition: all 0.5s ease-out 0s;  
}

.btn:hover{
    background-color: #439eff;
}
.btn:disabled{
    background-color: black;
}