.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.preloader{
    width: 10%;
}

@media (max-width: 1300px) {
    .preloader {
        width: 50%;
    }
}